{% load static %}


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">S'inscrire <span>Now</span></h3>

                    <form action="{% url 'web:register' %}" method="post">
                        {% csrf_token %}

                        <div class="styled-input agile-styled-input-top">
{#                            <input type="text" name="name" required="">#}
                            {{ register_form.fullname }}
                            <label>Nom Complet</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
{#                            <input type="email" name="email" required="">#}
                            {{ register_form.email }}
                            <label>E-mail Adresse</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
{#                            <input type="password" name="password" required="">#}
                            {{ register_form.password }}
                            <label>Mot de passe</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
{#                            <input type="password" name="Confirmez le mot de passe" required="">#}
                            {{ register_form.password1 }}
                            <label>Confirmez le mot de passe</label>
                            <span></span>
                        </div>
                        <input type="submit" value="S'inscrire">
                    </form>

                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#">En cliquant sur s'inscrire, j'accepte vos conditions</a></p>
                </div>

                <div class="col-md-4 modal_body_right modal_body_right1">
                <img src="{% static 'images/log_pic.jpg' %}" alt=" "/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    <!-- //Modal content-->

    </div>
</div>
