{% load static %}


<div class="tab3">
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b1.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b1.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Laptop Messenger Bag</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$140.99</span>
                    <del>$169.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value=" Laptop Messenger Bag" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b2.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b2.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Puma Backpack</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$127.99</span>
                    <del>$169.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Puma Backpack" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b3.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b3.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html"> Laptop Backpack</a></h4>
                <div class="info-product-price">
                    <span class="item_price">$120.99</span>
                    <del>$189.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value=" Laptop Backpack" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b4.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b4.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Travel Duffel Bag </a></h4>
                <div class="info-product-price">
                    <span class="item_price">$190.99</span>
                    <del>$259.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Travel Duffel Bag " />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b5.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b5.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html"> Hand-held Bag </a></h4>
                <div class="info-product-price">
                    <span class="item_price">$190.99</span>
                    <del>$259.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value=" Hand-held Bag " />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b6.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b6.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Butterflies Bag </a></h4>
                <div class="info-product-price">
                    <span class="item_price">$190.99</span>
                    <del>$259.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Butterflies Bag" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b7.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b7.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Costa Swiss Bag </a></h4>
                <div class="info-product-price">
                    <span class="item_price">$290.99</span>
                    <del>$359.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Costa Swiss Bag" />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="{% static 'images/b8.jpg' %}" alt="" class="pro-image-front">
                <img src="{% static 'images/b8.jpg' %}" alt="" class="pro-image-back">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="single.html" class="link-product-add-cart">Vue Rapide</a>
                    </div>
                </div>
                <span class="product-new-top">Nouveauté</span>
            </div>
            <div class="item-info-product ">
                <h4><a href="single.html">Noble Designs Bag </a></h4>
                <div class="info-product-price">
                    <span class="item_price">$120.99</span>
                    <del>$159.71</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="Noble Designs Bag " />
                            <input type="hidden" name="amount" value="30.99" />
                            <input type="hidden" name="discount_amount" value="1.00" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Ajouter au panier" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
