{% load static %}


<div class="w3_agile_latest_arrivals">
    <h3 class="wthree_text_info">ARRIVÉES <span>EN VEDETTE</span></h3>

    {% for product in featured_products %}

        <div class="col-md-3 product-men single">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="{% static 'images/w7.jpg' %}" alt="" class="pro-image-front">
                    <img src="{% static 'images/w7.jpg' %}" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                        <a href="#" class="link-product-add-cart">Vue Rapide</a>
                        </div>
                    </div>
                    <span class="product-new-top">Nouveauté</span>
                </div>
                <div class="item-info-product ">
                    <h4>
                        <a href="#">
                            {% if product.title %}{{ product.title }}{% else %}Chaussettes Longueur Cheville{% endif %}
                        </a>
                    </h4>
                    <div class="info-product-price">
                        <span class="item_price">$ {% if product.discount_price %}{{ product.discount_price }}{% else %}18.99{% endif %}</span>
                        <del>$ {% if product.discount_price %}{{ product.discount_price }}{% else %}33.71{% endif %}</del>
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="business" value=" ">
                                <input type="hidden" name="item_name" value="Sleeveless Solid Blue Top">
                                <input type="hidden" name="amount" value="30.99">
                                <input type="hidden" name="discount_amount" value="1.00">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="return" value=" ">
                                <input type="hidden" name="cancel_return" value=" ">
                                <input type="submit" name="submit" value="Ajouter au panier" class="button">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    <div class="clearfix"> </div>
    <!--//slider_owl-->
</div>
